# files
.DS_Store
*.log
*.synctex.gz
*.~
*.pkl
*.d2v*
*.pyc
checkpoint
model.ckpt*
checkpoints*
text8
*.bcf
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

